/* @font-face {
  font-family: 'soehne-schmal-fett';
  src:
    url('/fonts/soehne/soehne-schmal-web-fett.woff2') format('woff2'),
    url('/fonts/soehne/soehne-schmal-web-fett.woff') format('woff');
} */
@font-face {
  font-family: 'soehne-schmal-fett';
  src: url('/fonts/soehne/SohneSchmal-Fett.woff2') format('woff2'),
    url('/fonts/soehne/SohneSchmal-Fett.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'suisse-book';
  src: url('/fonts/suisse/SuisseIntl-Book-WebM.woff2') format('woff2'),
    url('/fonts/suisse/SuisseIntl-Book-WebM.woff') format('woff');
  font-display: swap;
}
