/* @font-face {
  font-family: 'soehne-schmal-fett';
  src:
    url('/fonts/soehne/soehne-schmal-web-fett.woff2') format('woff2'),
    url('/fonts/soehne/soehne-schmal-web-fett.woff') format('woff');
} */
@font-face {
  font-family: 'avenir-next-lt-pro-bold';
  src: url('/fonts/avenir/avenirnextltpro-bold-webfont.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'avenir-next-lt-pro-regular';
  src: url('/fonts/avenir/avenir-next-lt-pro-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'avenir-next-lt-pro-it';
  src: url('/fonts/avenir/avenir-next-lt-pro-it.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'iskry-bold';
  src: url('/fonts/iskry/iskry-bold.woff2') format('woff2');
  font-display: swap;
}
