/// -------------------------------------
///   Colors
/// -------------------------------------
@use 'sass:math';

$main-color: black; //OVERWRITTEN VIA STROYBLOK CMS
$sec-color: #ffffff; //OVERWRITTEN VIA STROYBLOK CMS
$bg-color: #ffffff; //OVERWRITTEN VIA STROYBLOK CMS
$brand-color: #62324B; //OVERWRITTEN VIA STROYBLOK CMS
$brand-color2: #5AFFEC; //OVERWRITTEN VIA STROYBLOK CMS
$brand-color3: #EF471F; //OVERWRITTEN VIA STROYBLOK CMS
$brand-color4: #3E5873; //OVERWRITTEN VIA STROYBLOK CMS
$brand-color5: #40ADC7; //OVERWRITTEN VIA STROYBLOK CMS
$brand-color6: #5C816C; //OVERWRITTEN VIA STROYBLOK CMS


/// -------------------------------------
///   z-Index
/// -------------------------------------

$z-galaxy: 9000;
$z-sun: 1000;
$z-moon: 500;
$z-sky: 100;
$z-roof: 10;
$z-ground: 1;
$z-zero: 0;
$z-hole: -1;
$z-hell: -9000;

/// -------------------------------------
///   Breakpoints & Grid
/// -------------------------------------

$isResponsiveGrid: true;
$breakpoints: ('phone': 375px,
  'tablet': 768px,
  'tablet-l': 1024px,
  'tablet-xxl': 1366px,
  'desktop': 1600px,
  'desktop-l': 1920px,
  'desktop-xxl': 2260px,
) !default;

$gap-desktop: 20px;

@function grid($fromLeft, $gap: $gap-desktop) {
  @return calc(100vw / 96 * #{$fromLeft});
}

@function getVw($px) {
  $vw-viewport: 1920;
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return math.div($px, $vw-context) * 1vw;
}

@function getSmallVw($px) {
  $vw-viewport: 375;
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return math.div($px, $vw-context) * 1vw;
}

// @function gaps($amount) {
//   @return calc(#{$gap-desktop} * #{$amount});
// }

// @function grid($fromLeft, $gap:$gap-desktop) {
//   @return calc(((100vw - (23 * #{$gap})) / 24 * #{$fromLeft}));
// }

// @function gaps($amount) {
//   @return calc(#{$gap-desktop} * #{$amount});
// }
