$base-font-size: 20px;
$link-font-size: 30px;
$base-font-size-m: 18px;
$base-line-height: 1.44em;
// $base-spacing: 0px;

// body
@mixin main-font($color: '') {
  font-family: 'avenir-next-lt-pro-bold',
    Arial,
    sans-serif;
  font-style: normal;
  // font-display: swap;

  // font-weight: 600;
  @if $color !='' {
    color: $color;
  }
}

// display
@mixin sec-font($color: '') {
  font-family: 'iskry-bold',
    Arial,
    sans-serif;
  font-style: normal;
  // font-display: swap;

  // font-weight: 500;
  @if $color !='' {
    color: $color;
  }
}

@mixin regular-font($color: '') {
  font-family: 'avenir-next-lt-pro-regular',
    Arial,
    sans-serif;
  font-style: normal;
  // font-display: swap;

  // font-weight: 500;
  @if $color !='' {
    color: $color;
  }
}

@mixin italic-font($color: '') {
  font-family: 'avenir-next-lt-pro-it',
    Arial,
    sans-serif;
  font-style: normal;
  // font-display: swap;

  // font-weight: 500;
  @if $color !='' {
    color: $color;
  }
}

%main-font {
  font-size: 14px;

  @include media('<=tablet-l') {
    font-size: 14px;
  }
}

%bigger-font {
  font-size: 22px;

  @include media('<=tablet-l') {
    font-size: 18px;
  }

  @include media('<tablet') {
    font-size: 16px;
  }
}
